.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #050505;
    height: 80px;
    width: 100%;
}
.header__heading {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    margin: 10px;
    padding-left: 15px;
}

.header__heading img {
    width: 300px;
}

.admin__target-btn {
    width: 90px;
    height: 30px;
    color: #0f0f0f;
    background: #b5b2b5;
    border-radius: 5px;
    border: none;
}

.search-form__keyword-input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 23px;
}

.header-nav__item {
    display: flex;
}

.header-nav__button {
    width: 140px;
    height: 30px;
    color: #f9f5f9;
    background: #050505;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 25px;
}
.header-nav__button-sell {
    width: 120px;
    height: 45px;
    color: #050505;
    background: #f9f5f9;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 25px;
    margin-right: 10px;
}

@media screen and (max-width: 850px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        max-width: 100%;
        padding: 10px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
}
