.content {
    margin: 30px;
}
.toppage-list {
    font-size: 20px;
    display: flex;
    height: 47px;
    top: 127px;
    border-bottom: 1px solid #000;
}

.toppage-list h3 {
    margin: 0;
}

.recommend {
    margin-left: 30px;
    color: rgb(250, 5, 5);
}
.mylist {
    margin-left: 80px;
    color: black;
    text-decoration: none;
}
.products-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.products-card {
    text-align: center;
}
.products-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-name {
    text-align: left;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .products-row {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .products-row {
        grid-template-columns: repeat(2, 1fr);
    }
}
